<h1 class="center">Subscription</h1>
<img src="<% image_path("sub.svg") %>" alt="">

<% if @user.errors.any?  %>
  <div>
    <% @user.errors.full_messages.each do |message| %>
      <p><% message %></p>
    <% end %>
  </div>

<% end %>
<div class="row">
  <div class="col s8">
    <%= form_for @user do |f| %>
      <div class="input-field col s11">
        <%= f.text_field :username %>
        <%= f.label :username %>
      </div>
      <div class="input-field col s12">
        <%= f.email_field :email %>
        <%= f.label :email %>
      </div>
      <div class="input-field col s12">
        <%= f.text_field :firstname %>
        <%= f.label :firstname %>
      </div>
      <div class="input-field col s12">
        <%= f.text_field :lastname %>
        <%= f.label :lastname %>
      </div>
      <div class="input-field col s12">
        <%= f.password_field :password %>
        <%= f.label :password %>
      </div>
      <div class="input-field col s12">
        <%= f.password_field :password_confirmation %>
        <%= f.label :password_confirmation %>
      </div>
      <div class="input-field col s12">
        <button type="submit" class="waves-effect waves-light deep-purple accent-2 btn">Submit</button>
      </div>

      </div>
    <%end %>
    <div class="col s4 right-align"> <%= image_tag "sub.svg", class:"responsive-img" %></div>

  </div>

</div>



