<h1 class="center">random</h1>

<h3><%= @user %></h3>
<h3><%= @user.email %></h3>
<h3><%= @user.id %></h3>


<%= form_for @user, url: event_path do |f| %>


  <div class="input-field col s12">
    <%= f.email_field :email %>
    <%= f.label :email %>
  </div>
  <div class="input-field col s12">
    <%= f.email_field :email %>
    <%= f.label :email %>
  </div>
  <div class="input-field col s12">
    <%= f.email_field :email %>
    <%= f.label :email %>
  </div>
  <div class="input-field col s12">
    <%= f.email_field :email %>
    <%= f.label :email %>
  </div>
  <div class="input-field col s12">
    <%= f.email_field :email %>
    <%= f.label :email %>
  </div>
  <div class="input-field col s12">
    <%= f.email_field :email %>
    <%= f.label :email %>
  </div>
  <div class="input-field col s12">
    <button type="submit" class="waves-effect waves-light btn">Submit</button>
  </div>

  </div>


<%end %>