<!DOCTYPE html>
<html>
  <head>
    <title>RandomGift</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">


    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
  <nav>
    <div class="nav-wrapper deep-purple accent-2">
      <a href="<%= root_path %>" class="brand-logo">Lorenzo</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <% if current_user %>
          <li><a href="<%= new_session_path %>">Disconnect</a></li>
        <% else %>
          <li><a href="<%= new_user_path  %>">Subscription</a></li>
          <li><a href="<%= new_session_path %>">Login</a></li>
        <% end %>
      </ul>
    </div>
  </nav>
  <main class="container">
    <% if flash[:success] %>
      <li>
        <%= flash[:success] %>
      </li>
    <% end %>

    <% if flash[:danger] %>
      <li>
        <%= flash[:danger] %>
      </li>
    <% end %>

    <%= yield %>

  </main>
  <footer class="page-footer deep-purple accent-2">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">Footer Content</h5>
          <p class="grey-text text-lighten-4">You can use rows and columns here to organize your footer content.</p>
        </div>
        <div class="col l4 offset-l2 s12">
          <h5 class="white-text">Links</h5>
          <ul>
            <li><a class="grey-text text-lighten-3" href="#!">Link 1</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
        © 2014 Copyright Text
        <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
      </div>
    </div>
  </footer>
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  </body>

</html>
